@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Typography */
h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

/* Custom Font Classes */
.font-outfit {
  font-family: "Outfit", sans-serif;
}

.font-ovo {
  font-family: "Ovo", serif;
}

.font-lora {
  font-family: "Lora", serif;
}

.font-prata {
  font-family: "Prata", serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}
