@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Typography */
h1, h2, h3 {
  font-family: "Noto Sans", sans-serif;
}

/* Custom Font Classes */
.font-outfit {
  font-family: "Outfit", sans-serif;
}

.font-ovo {
  font-family: "Ovo", serif;
}

.font-lora {
  font-family: "Lora", serif;
}

.font-prata {
  font-family: "Prata", serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

/* Light Mode Background */
.bg-custom {
  background-image: url('/bg.png'); /* Ensure the path is correct */
  background-size: cover; /* Ensures the image covers the entire page */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  background-attachment: fixed; /* Keeps the background fixed when scrolling */
}

/* Dark Mode Background */
.dark .bg-custom {
  background-image: url('/bg_d.png'); /* Dark mode background */
}
